@import url("http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

th, .list tr, .outertable {
  border: 1px solid black;
  border-collapse: collapse;
}

.outertable {
  table-layout: fixed;
  width: 500px;
  height: 500px;
  text-align: center;
}

th {
  background-color: lightgray;
}

.search {
  margin-top: 200px;
}

.list {
  table-layout: fixed;
  width: 300px;
  margin: 20px;
}

